<ion-tabs class="tabs-icon-top tabs-stable">
    <!-- Home Tab -->
    <ion-tab title="{{'tabs-home'|i18ng}}" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" ui-sref="main.home">
        <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab>
    <!-- Debug Tab -->
    <ion-tab title="{{'tabs-product'|i18ng}}" icon-off="ion-tshirt-outline" icon-on="ion-tshirt" ui-sref="main.product">
        <ion-nav-view name="tab-product"></ion-nav-view>
    </ion-tab>
    <!-- Debug Tab -->
    <ion-tab title="{{'tabs-customer'|i18ng}}" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" ui-sref="main.customer">
        <ion-nav-view name="tab-customer"></ion-nav-view>
    </ion-tab>
    <!-- Debug Tab -->
    <ion-tab title="{{'tabs-activity'|i18ng}}" icon-off="ion-ios-calendar-outline" icon-on="ion-ios-calendar" ui-sref="main.activity">
        <ion-nav-view name="tab-activity"></ion-nav-view>
    </ion-tab>
</ion-tabs>
