<ion-view>
    <ion-slide-box class="padding">
        <ion-slide>
            <div class="box list card">
                <div class="item item-image">
                    <img src="main/assets/images/act1.jpg">
                </div>
            </div>
        </ion-slide>
        <ion-slide>
            <div class="box list card">
                <div class="item item-image">
                    <img src="main/assets/images/act2.jpeg">
                </div>
            </div>
        </ion-slide>
    </ion-slide-box>
</ion-view>
