<ion-view>
    <ion-content>
        <div class="row">
            <div class="col col-67">
                <!-- report information -->
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="item item-divider">
                                本日销售额
                            </div>
                            <div class="item item-text-wrap">
                                1,000
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="item item-divider">
                                日均销售额
                            </div>
                            <div class="item item-text-wrap">
                                1,000
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="item item-divider">
                                本月销售额
                            </div>
                            <div class="item item-text-wrap">
                                1,000
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="item item-divider">
                                会员数
                            </div>
                            <div class="item item-text-wrap">
                                1,000
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="item item-divider">
                                本月绩效分数
                            </div>
                            <div class="item item-text-wrap">
                                1,000
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="item item-divider">
                                日均销售额
                            </div>
                            <div class="item item-text-wrap">
                                1,000
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="item item-divider">
                                会员数
                            </div>
                            <div class="item item-text-wrap">
                                1,000
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="list list-inset">
                        <div class="item">
                            销售额 60%
                        </div>
                        <meter value="60" min="0" max="100" title="GB">
                        </meter>
                    </div>
                </div>
                <div class="row">
                    <div class="list list-inset">
                        <div class="item">
                            会员招募 70%
                        </div>
                        <meter value="70" min="0" max="100" title="GB">
                        </meter>
                    </div>
                </div>
            </div>
            <div class="col">
                <!-- todo list -->
                <div class="list">
                    <div class="item item-divider">
                        待办列表
                    </div>
                    <div class="list card">
                        <div class="item item-avatar">
                            <img src="main/assets/images/leifeng.jpg">
                            <h2>退货申请</h2>
                            <p>一个小时前</p>
                            <div class="item tabs tabs-secondary tabs-icon-left">
                                <a class="tab-item" href="javascript:void(0)">
                                    <i class="icon ion-android-open"></i> 详细信息
                                </a>
                                <a class="tab-item" href="javascript:void(0)">
                                    <i class="icon ion-ios-heart-outline"></i> 收藏
                                </a>
                                <a class="tab-item" href="javascript:void(0)">
                                    <i class="icon ion-share"></i> 分享
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="list card">
                        <div class="item item-avatar">
                            <img src="main/assets/images/leifeng.jpg">
                            <h2>退货申请</h2>
                            <p>一个小时前</p>
                            <div class="item tabs tabs-secondary tabs-icon-left">
                                <a class="tab-item" href="javascript:void(0)">
                                    <i class="icon ion-android-open"></i> 详细信息
                                </a>
                                <a class="tab-item" href="javascript:void(0)">
                                    <i class="icon ion-ios-heart-outline"></i> 收藏
                                </a>
                                <a class="tab-item" href="javascript:void(0)">
                                    <i class="icon ion-share"></i> 分享
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="list card">
                        <div class="item item-avatar">
                            <img src="main/assets/images/leifeng.jpg">
                            <h2>退货申请</h2>
                            <p>一个小时前</p>
                            <div class="item tabs tabs-secondary tabs-icon-left">
                                <a class="tab-item" href="javascript:void(0)">
                                    <i class="icon ion-android-open"></i> 详细信息
                                </a>
                                <a class="tab-item" href="javascript:void(0)">
                                    <i class="icon ion-ios-heart-outline"></i> 收藏
                                </a>
                                <a class="tab-item" href="javascript:void(0)">
                                    <i class="icon ion-share"></i> 分享
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-20">
                <div class="item item-image">
                    <img src="main/assets/images/new-product.jpg">
                </div>
                <a class="item" href="javascript:void(0)">
                    <center>公司动态</center>
                </a>
            </div>
            <div class="col col-20">
                <div class="item item-image">
                    <img src="main/assets/images/new-product.jpg">
                </div>
                <a class="item" href="javascript:void(0)">
                    <center>新品推荐</center>
                </a>
            </div>
            <div class="col col-20">
                <div class="item item-image">
                    <img src="main/assets/images/new-product.jpg">
                </div>
                <a class="item" href="javascript:void(0)">
                    <center>优惠活动</center>
                </a>
            </div>
            <div class="col col-20">
                <div class="item item-image">
                    <img src="main/assets/images/new-product.jpg">
                </div>
                <a class="item" href="javascript:void(0)">
                    <center>新品推荐</center>
                </a>
            </div>
            <div class="col col-20">
                <div class="item item-image">
                    <img src="main/assets/images/new-product.jpg">
                </div>
                <a class="item" href="javascript:void(0)">
                    <center>公司动态</center>
                </a>
            </div>
    </ion-content>
</ion-view>
